{% load static %}
<style>

  .segment {
    display: grid;
    grid-template-columns: auto auto auto; 

  }


  .grid-container {
    display: grid;
    grid-template-columns: 350px auto 350px;
    gap: 10px;
    background-color: #2196F3;
    
  }
    


  .grid-container{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
  }  
</style>



<div class="container-fluid text-center bg-secondary p-3">
  <h3 class="text-warning"> <strong><i>Skills And Values</u></strong></h3> 
</div> 


{% comment %} first side {% endcomment %}
<div class=" carousel grid-container bg-secondary p-1">

  <div class=" grid-item p-3 bg-dark ">
    <img src="{% static '' %}img/fasi.jpg" class="card-img" alt="...">
      <div class="card " >
        <form  method="POST" action="#" >
        <fieldset class="p-3">
          <p class="card-text">Pick </p>       
          <select class="form-control form-control-lg custom-select-lg mb-5 ">            
            <option   selected>Choose...</option>

          {% if category %}
            {% for  item in category %}
              <option name="item7"   value="#">{{item.title}}</option>
            {% endfor %}
          {% endif %}> 
          </select>

          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          <p class="card-text">Course </p>
          <select class="form-control form-control-md  mt-5 ">        
            <option selected> Choose...</option>
            {% if courses %}
              {% for  item in courses%} 
                <option value="#">{{item.title}}</option>{{item.title}} </option>
              {% endfor %} 
            {% endif %} 
          </select>
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>     
      </form>
    </div>
  </div> 

  {% comment %} carousel starts {% endcomment %}
  <div id="carouselExampleCaptions" class="carousel slide container grid-item bg-secondary" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img height="650" src="{% static '' %}img/fash.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption hero-title d-none d-md-block">
          <h5>First slide label</h5>
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img height="650" src="{% static '' %}img/caro1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Second slide label</h5>
          <p>{{item.description}}</p>
        </div>
      </div>
      <div class="carousel-item">
        <img height="650" src="{% static '' %}img/caro3.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Third slide label</h5>
          <p>{{item.description}}</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  {% comment %} Third side {% endcomment %}
  <div class=" grid-item bg-dark p-3">
    <img src="{% static '' %}img/5219.jpg" class="card-img" alt="...">
    <div class="card" >
      <div class="card-body"> 
      {% if user.is_authenticated %}
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-warning nav-link disabled">Go somewhere</a>
        </div>
       
      {% else %}
        <form  method="POST" action="{% url 'login' %}">
        {%csrf_token%}
          <p class="card-text">LOGIN </p>
          <div class="form-group" >
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="textHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" name='password' id="exampleInputPassword1" required>
          </div>          
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      {% endif %}
      </div>
    </div>
  </div> 
 
</div>

  <!-- end cariusel -->